html, body {
	margin: 0;
	padding: 0;
}

body {
	/*font-family: Palatino, Book Antiqua, Times New Roman, "Apple Color Emoji", serif, "Segoe UI Emoji", "Segoe UI Symbol";*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 20px;
	line-height: 1.45;
	letter-spacing: 0.03em;
}

h1 {
	font-size: 74px;
    font-weight: 700;
    letter-spacing: -0.005em;
    line-height: 1.2;
}

header {
	background-color: #000000;
	background-image: linear-gradient(19deg, #000000 23%, #2d005c 100%);
	color: #FFF;
	display: flex;
	flex-direction: column;
	min-height: 98vh;
	padding: 1vh 2em;
	text-align: center;
}

header a {
	color: #FFF;
	text-decoration-color: rgba(255, 255, 255, 0.7);
	text-decoration-style: wavy;
}

header a:hover {
	text-decoration-style: solid;
}

nav {
	text-align: left;
}

header a.button {
	display: inline-block;
	background: #FFF;
	border-radius: 0.5em;
	color: #2d005c;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.2em 1ch 0.1em;
	text-transform: uppercase;
	text-decoration: none;
}

section, footer {
	padding: 2em 5vw;
}

footer {
	text-align: right;
}

.container {
	margin: 1em auto;
	max-width: 70ch;
}

.categories table {
	table-layout: fixed;
	width: 100%;
}

.categories table td + td {
	text-align: center;
}

.explanation {
	background-color: #DDDDEE;
}

.kicker {
	text-transform: uppercase;
}

.u-emojiframe--tada:before {
	content: "🎉  ";
	font-size: 0.7em;
}
.u-emojiframe--tada:after {
	content: "  🎉";
	font-size: 0.7em;
}
